.p1
{
	width:850px;
	height:80px;
	left:315px;
	top:30px;
	border-style:solid;
	border-color:black;
	position:absolute;
	font-family:letra;
	border-radius:80px;
	font-size:55px;
	text-align:center;

}
@font-face
{
	font-family: letra;
    src: url(letra.ttf);
}
@font-face
{
	font-family: letra3;
    src: url(letra3.ttf);
}
.p11
{
	width:250px;
	height:180px;
	left:45px;
	top:30px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	
}
body{ background:-webkit-linear-gradient(30deg, #ED9714 30%, #E64040  70%);
}
.p111{
	width:1190px;
	height:550px;
	border-style: solid;
	border color:white;
	border-radius:120px;
}
a
{
	text-decoration: none;
	color:black;
}

.p1111
{
	width:175px;
	height:80px;
	left:550px;
	top:460px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:letra3;
	font-size:35px;
	display:block;
}
.p11111
{
	width:175px;
	height:100px;
	left:130px;
	top:220px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:letra3;
		font-size:47px;
}
.p111111
{
	width:275px;
	height:100px;
	left:530px;
	top:220px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:letra3;
		font-size:47px;
}